.box {
    color: #ffffff;
    box-shadow: 0 0 5px -3px #000000;
    .box-title, .box-body, .box-link {
        padding: 0.5rem 0.75rem;
    }
    .box-title {
        font-size: 1.1rem;
        font-weight: 700;
    }
    .box-body {
        border-top: 1px solid #efefef;
        border-bottom: 1px solid #efefef;
    }
    .box-link {
        font-weight: 700;
    }
}
