.landing {
    margin-top: -1rem;
    background: #009688;
    color: #ffffff;
    font-weight: 700;
    box-shadow: 0 0 10px #000000;
}
/*
.landing {
    margin-top: -1rem;
    padding: 10rem 0 1rem 0;
    background: #009688;
    color: #FFFFFF;
    font-weight: 700;
    box-shadow: 0 0 10px #000000;
}
*/
